<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title>执行sql</title>
<!-- jqGrid组件基础样式包-必要 -->
<link rel="stylesheet" href="/jqgrid/css/ui.jqgrid.css" />
<!-- jqGrid主题包-非必要 -->
<!-- 在jqgrid/css/css这个目录下还有其他的主题包，可以尝试更换看效果 -->
<link rel="stylesheet"
	href="/jqgrid/css/css/redmond/jquery-ui-1.8.16.custom.css" />
<!-- jquery插件包-必要 -->
<!-- 这个是所有jquery插件的基础，首先第一个引入 -->
<script type="text/javascript" src="/js/jquery-1.7.1.js"></script>
<script type="text/javascript" src="/js/execSql.js"></script>
<!-- jqGrid插件包-必要 -->
<script type="text/javascript" src="/jqgrid/js/jquery.jqGrid.src.js"></script>
<!-- jqGrid插件的多语言包-非必要 -->
<!-- 在jqgrid/js/i18n下还有其他的多语言包，可以尝试更换看效果 -->
<script type="text/javascript" src="/jqgrid/js/i18n/grid.locale-cn.js"></script>
<script type="text/javascript" src="/js/md5.js"></script>
<style type="text/css">
#content_left {
	/* margin-left: 1%; */
	width: 60%;
	float: left;
	height: 860px;
}

#content_right {
	/* margin-left: 1%; */
	
    margin-top: 35px;
	width: 38%;
	float: left;
	overflow: auto;
	height: 860px;
}

#grid {
	width: 100%
}
</style>
</head>
<body>
<body>
	<div id="content_left">
		操作人ID： <input type="text" id="execId" placeholder="请输入操作人ID..."
			autocomplete="off" style="width: 50%; height: 33px; font-size: 16px;"></input>
		<br> <br>
		<textarea name="sql"
			style="width: 100%; height: 160px; font-size: 20px;" id="sqlTextArea"
			placeholder="输入SQL语句..."></textarea>
		<br>
		<button type="submit" id="sure" style="width: 103px; height: 33px"
			onclick="clickButtSure();">执行</button>
		<button id="back" type="reset" style="width: 103px; height: 33px"
			onclick="clickButtEmpty()">清空</button>
		<button id="qryHis" style="width: 103px; height: 33px"
			onclick="qryHistory()">历史</button>
		<br> <br>
		<hr
			style="background-color: #0c0c0c; height: 0px; width: 100%; margin-left: 0px;">
		<div id="resut_exec"></div>
		<div id="grid">
			<!-- jqgrid表格 -->
			<table id="jqGrid"></table>
			<!-- 表格页脚 -->
			<div id="jqGridPager"></div>
		</div>
	</div>
	<div id="content_right"></div>

</body>
</html>