<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>执行sql</title>
<script src="/js/jquery.min.js" type="text/javascript"></script>
<script src="/js/execSql.js" type="text/javascript"></script>
</head>
<body>
<body>
	<br>
	<textarea name="sql"
		STYLE="width: 865px; height: 150px; font-size: 25px;" id="sqlTextArea"
		placeholder="输入SQL语句..."></textarea>
	<br>
	<br>
	<button type="submit" id="sure" style="width: 103px; height: 33px"
		onclick="clickButtSure();">确定</button>
	<button id="back" type="reset" style="width: 103px; height: 33px"
		onclick="$('#sqlTextArea').val('')">重置</button>
	<br>
	<hr
		style="background-color: #0c0c0c; height: 1px; width: 1195px; margin-left: 0px;">
	<div>
		<table id="jqGrid"></table>
		<div id="jqGridPager"></div>
	</div>
</body>
</html>